services:
  mongo:
    image: mongo:latest
    env_file:
      - ./dev.env
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    env_file:
      - ./dev.env
    depends_on:
      - mongo
    ports:
      - 8081:8081
    command: ["bash", "-c", "sleep 10 && /docker-entrypoint.sh"]

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./packages:/app/packages
      - ./run.py:/app/run.py
    environment:
      - TEMDB_ENV=dev
      - MONGODB_URI=mongodb://mongo:27017/
      - MONGODB_NAME=temdb
    depends_on:
      - mongo

volumes:
  mongo_data:
